{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<body id="adminBody">
<div class="container">
<div class="col-12" id="adminHome">


<h1 style="margin-bottom: 25px;"> Bienvenue dans l'espace News<h1>




</div>
</div>

</body>

{% endblock %}